*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px){
    body{
        background-color: #008c8c;
    }
    main{
        width: 95vw;
        background-color: rgb(255, 255, 255);
        margin: 10dvh auto 0;
        padding: 1rem;
        border-radius: 10px;
    }
    p#title{
        font-size: 3rem;
        font-weight: bold;
    }
    div#searchbarContainer{
        display: flex;
        align-items: center;
        gap: .5rem;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        height: 2.5rem;
        padding-left: .5rem;
        margin: 1rem 0;
    }
    div#searchbarContainer svg{
        height: 100%;
    }
    input#searchbarInput{
        height: 100%;
        width: 90%;
        border: none;
        outline: none;
        font-size: 18px;
        color: black;
    }
    div.contactContainer{
        border: 1px solid black;
        padding: 1rem;
    }
    div.contactInfo{
        border-top: 1px solid black;
        margin: .5rem 0;
        padding-top: .5rem;
    }
    div.contactContainertwo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    input.contactEmail{
        margin: .5em 0;
    }
    div.contactInfoContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    input.contactinput{
        width: 80%;
    }
    div.contactInfo{
        /* display: none; */
    }

}